<p>menu works!</p>
<a [routerLink]="['first']">First</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['second']">Second</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['third']">Third</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['condition']">Condition</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['calc']">Calculation</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['loop']">Looping Example</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['twoway']">TwoWay</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['employ']">Employ</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['employdropdown']">Employ Drop Down</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;